<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<!--https://code.jquery.com/-->
<!--http://stackoverflow.com/a/24070373/548473-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous" async>
</script>
<body>
<html>
<body>
<section>
    <table border="1" cellpadding="8" cellspacing="0">
        <thead>
        <tr>
            <th>#</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Flag</th>
            <th/>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="users" type="java.util.List"*/-->
        <!--/*@thymesVar id="user" type="ru.javaops.masterjava.persist.model.User"*/-->
        <tr th:each="user,iter: ${users}">
            <td th:text="${iter.count}"></td>
            <td th:text="${user.fullName}"></td>
            <td th:utext="${user.email}"></td>
            <td th:text="${user.flag}"></td>
            <td><input type="checkbox" value="test value" th:value="|${user.fullName} <${user.email}>|"/></td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <input type="radio" name="transport" onchange="setFormAttr('SOAP')" checked>SOAP<br>
    <input type="radio" name="transport" onchange="setFormAttr('REST')">REST<br>
    <input type="radio" name="transport" onchange="setFormAttr('JMS')">JMS<br>

    <form enctype="multipart/form-data" action="send" method=post
          target="result" onsubmit="window.open('','result','width=800,height=400,menubar=no');">

        <input id="users" name="users" hidden="hidden">

        <p>
            <input id="subject" name="subject" placeholder="Subject" size="30">
        </p>
        <p>
            <textarea id="body" name="body" placeholder="Mail body" cols=75 rows=5></textarea><br/>
        </p>
        <p>
            <input type="file" name="attach" id="attach"/>
        </p>
        <p>
            <button type="submit" onclick="fillUsers()">Send</button>
        </p>
    </form>
</section>
<script type="text/javascript">
    function setFormAttr(transport) {
        var form = $("form");
        if (transport == 'SOAP') {
            form.attr("action", 'send');
            form.attr("enctype", 'multipart/form-data');
        } else if(transport == 'REST'){
            form.attr("action", '/mail/rest/send');
            form.attr("enctype", 'application/x-www-form-urlencoded');
        } else {
            form.attr("action", 'sendJms');
            form.attr("enctype", 'application/x-www-form-urlencoded');
        }
    }

    function fillUsers() {
        var users = $("input:checkbox:checked").map(function () {
            return this.value;
        }).get();
        console.log(users);
        $('#users').val(users);
    }
</script>
</body>
</html>